<div class="modal hide fade" id="connect-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Welcome to SnakeMine</h3>
        Please select your name and color.
    </div>
    <div class="modal-body">
        <div>
            <label for="playerName">Username:</label><input type="text" id="playerName" value="<%= guestName %>">
        </div>
        <div id="color" class="input-append color" data-color="rgb(255, 146, 180)" data-color-format="rgb">
            <label for="playerColor">Color:</label><input type="text" id="playerColor" value="" >
            <span class="add-on"><i style="background-color: rgb(255, 146, 180)"></i></span>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" onclick="$('#connect-modal').modal('hide');" class="btn">Don't play :(</a>
        <a href="#" onclick="javascript:startGame();" class="btn btn-primary">Play</a>
    </div>
    <script type="text/javascript">
        function startGame() {
            snakeGame.start($('#playerName').val(), $('#playerColor').val())
            $('#connect-modal').modal('hide');
        };
    </script>
</div>