<!DOCTYPE html>
<html lang="html">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.min.css' />
</head>
<body>

<% include navbar.ejs %>

<div class="container">
    <div class="row-fluid">
        <div class="span8 stage-span">
            Snakemine should be a simple online multiplayer snake.
        </div>
        <div class="span4 well well-small">
            Screenshot here
        </div>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
</body>
</html>