body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.players {
    position:relative;
    height:100%;
}

#stage {
    width:100%;
    position:relative;
}
.stage-span {
    position:relative;
}